.view{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* height: 320px; */
}

.bigContainer{
    width: 90%;
    max-width: 600px;
}

.bigContainer h1{
    padding: 15px 0 0 0;
}

.comentario{
    color: rgb(0, 71, 0);
    margin-bottom: 30px;
    font-weight: 300;
}

.parrafo{
    line-height: 22px;
    font-weight: 500;
}

.textos ul{
    position: relative;
    list-style: none;
    padding-left: 0;
    text-align: left;
    width: max-content;
    margin: 40px auto 20px auto;
}

.textos li::before{
    content: '-';
    margin-right: 20px;
}

.textos li{
    margin: 4px 0;
}

#masFunc{
    margin-top: 10px;
    font-style: italic;
}

.contacto{
    padding: 15px 0;
}

.contacto p{
    margin: 0;
    font-size: 15px;
}

.contacto a{
    text-decoration: none;
    color: black;
}

.contacto a:hover{
    text-decoration: underline;
}

.year{
    font-size: 14px;
    margin: 60px 0 5px 0;
}